/* Your card CSS file */
.card-trip {
  position: relative;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 40px auto;
}

.card-trip > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  background-position: bottom;
}

.trip-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 16px;
}

.trip-description h2 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.trip-description p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}



